## database 
DB_PORT=your_db_port
DB_HOST=your_db_host
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=your_db_name

#Server port
SERVER_PORT=your_server_port

#JWT_SECRET
SECRET_KEY=your_jwt_secret_key

#CORS ROUTE
CORS_ROUTE=your_cors_route

#MAIL NODE
MAIL_USER=your_email
MAIL_PASS=your_app_password
MAIL_HOST=your_mail_host
MAIL_PORT=your_mail_port